<div class="max-w-prose px-8">
  <h1 class="font-bold text-2xl">Hi, I'm Kyle</h1>
  <aside class="font-semibold text-gray mb-2">
    I'm a Freelance Software Developer based in New York City.
  </aside>
  <p>
    In my near decade as a developer I've built everything from ecommerce
    websites, full stack web applications, and even 3D product configurators
    integrated with CNC manufacturing.
  </p>
</div>
