---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/tailwind.css"
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts"
---

<!doctype html>
<html lang="en" class="mx-auto w-full h-full antialiased">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body class="container">
		<Header />
		<main >
		</main>
		<Footer />
	</body>
</html>

