---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="min-h-dvh antialiased">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="h-full">
    <Header />

    <div
      class="flex flex-col justify-center mx-auto min-h-full w-full max-w-2xl mt-20"
    >
      <main class="flex-grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
